# Grafana Data Sources Provisioning
# This file is automatically loaded by Grafana on startup

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      timeInterval: 15s
      queryTimeout: 60s
      httpMethod: POST
    editable: true
    version: 1

  - name: CloudWatch
    type: cloudwatch
    access: proxy
    jsonData:
      authType: default  # Use IAM role or AWS credentials from environment
      defaultRegion: us-east-1  # Change to your AWS region
    editable: true
    version: 1
